@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

html {
  scrollbar-color: #525252 #000000;
  scrollbar-width: auto;
  scroll-behavior: smooth;
  border-radius: 20px;
}

body {
  background-color: #1f1f1f;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  font-family: 'Maven Pro', sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: auto;
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 1000;
}
header.sticky {
  background-color: #000;
  transition: all 0.5s ease-in-out;
}
.left-container {
  display: flex;
  gap: 50px;
}
.right-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}
.navbar {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.5rem;
  color: #ff3838;
}
.logo a {
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-decoration: none;
  color: #ff3838;
}
.search {
  display: flex;
  justify-content: center;
  padding: 20px;
  justify-self: center;
}
.search input {
  width: 500px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #868686;
  outline: none;
  color: #fff;
  background-color: inherit;
}
.search input::placeholder {
  color: #b9b9b9;
  font-family: 'Maven Pro', sans-serif;
}
.search-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login-btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  background-color: #ff3838;
  color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  font-family: 'Maven Pro', sans-serif;
}
.login-btn:hover {
  background-color: #fd5050;
  transition: all 0.5s ease-in-out;
}
.user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.main-movie-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100vh;
  background-image: url('https://images-0.rakuten.tv/storage/snapshot/shot/13491cfc-9751-4e95-9ef6-f609eafbba0d-snapshot-1590662510-width936-quality90.jpeg');
  background-position: center;
  background-size: cover;
}
.movie-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  margin-bottom: 50px;
  width: 50%;
  color: #fff;
  z-index: 990;
}
.movie-info h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
.movie-info p {
  font-size: 1rem;
  font-weight: 500;
}
.genres-ul {
  display: flex;
  gap: 10px;
  padding: 0px;
  margin: 0px;
}
.genres-ul li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ff3838;
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 5px 10px;
  width: fit-content;
}
.movie-info button {
  width: 25%;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ff3838;
  color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  font-family: 'Maven Pro', sans-serif;
}
.movie-info button:hover {
  background-color: #ff3838;
  transition: all 0.5s ease-in-out;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.movies-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px 10px 0 10px;
}
.movies-title {
  width: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  padding: 30px 0 0 160px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}
.movie-modal {
  background-color: #0f0f0f;
  max-width: 60%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 80%;
  padding-bottom: 20px;
  scrollbar-width: none;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.modal-header {
  display: flex;
  align-items: center;
  height: 50px;
  width: border-box;
  position: fixed;
  z-index: 1500;
}
.modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.modal-body img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
.modal-body h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0 20px;
  margin: 0;
}
.genres-ul-modal {
  display: flex;
  gap: 10px;
  padding: 0px;
  margin: 0px;
  padding: 0 20px;
}
.modal-body p {
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
  margin: 0;
}
#year-p {
  color: #636363;
}
.trailer-button {
  width: 25%;
  margin: 0 20px;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ff3838;
  color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  font-family: 'Maven Pro', sans-serif;
}
.trailer-button:hover {
  background-color: #ff3838;
}
.my-list-title {
  width: 90%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  margin: 0 0 20px 0;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 440px;
  background: #fff;
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
}
.card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card span {
  color: #000;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
  text-wrap: pretty;
  margin: 0px;
}
.card ul {
  padding: 0px;
  margin: 20px 0px;
  gap: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.card li {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}
.genres-list {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-top: 10px;
}
.genre-tag {
  background-color: #ff3838;
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 5px 10px;
  width: fit-content;
  list-style: none;
}
.card p {
  color: #000;
  font-size: 0.8rem;
  padding: 0px;
  text-wrap: pretty;
}
.btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
}
.card button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  cursor: pointer;
  border-style: none;
  border-radius: 50%;
  background-color: #3b3b3b;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.card button:hover {
  transform: scale(0.95);
  background-color: #575757;
  transition: all 0.5s ease-in-out;
}
.fa-heart {
  color: #fff;
  padding: 0;
  margin: 0;
}
.fa-eye {
  color: #fff;
  padding: 0;
  margin: 0;
}
.fa-circle-xmark {
  padding: 0;
  margin: 0 20px;
  cursor: pointer;
  font-size: 32px;
  color: #616161;
  opacity: 0.8;
  background-color: #b1b1b1;
  border-radius: 50%;
}
